<h2>Alta cliente</h2>
<p>
  <span>Nombre:</span>
  <input type="text" [(ngModel)]="cliente.nombre">
</p>
<p>
  <span>CIF:</span>
  <input type="text" [(ngModel)]="cliente.cif">
</p>
<p>
  <span>Dirección:</span>
  <input type="text" [(ngModel)]="cliente.direccion">
</p>
<p>
  <span>Grupo:</span>
  <select [(ngModel)]="cliente.grupo">
    <option selected>Sin definir</option>
    <option value="1">1</option>
    <option value="2">2</option>
  </select>
</p>
<p>
  <button (click)="saveClient()">Guardar</button>
</p>
<app-listado-clientes [dades]="dades"></app-listado-clientes>
